# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.env

# Flask
instance/

# Data
app/data/tasks.json

# Docker
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Kubernetes
*.tmp

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db